[Unit]
Description=Gunicorn instance to serve IronMonkey application
After=network.target

[Service]
User=your_username
Group=your_group
WorkingDirectory=/path/to/your/ironmonkey/app
Environment="PATH=/path/to/your/virtualenv/bin"
ExecStart=/path/to/your/virtualenv/bin/gunicorn --workers 3 --bind unix:ironmonkey.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
