<nav class="bg-blue-600 p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="flex items-center">
            <img src="{{ url_for('static', filename='images/IronMonkey_logo_small.jpg') }}" alt="IronMonkey Logo" class="h-10 mr-2 rounded-full">
            <span class="text-white text-2xl font-bold">IronMonkey Threat Research</span>
        </a>
        <div class="hidden md:flex space-x-4">
            <a href="{{ url_for('main.index') }}" class="text-white hover:text-blue-200 transition duration-300">Home</a>
            <a href="{{ url_for('rss_manager.get_rss_feeds') }}" class="text-white hover:text-blue-200 transition duration-300">RSS Feeds</a>
            <a href="{{ url_for('search.search') }}" class="text-white hover:text-blue-200 transition duration-300">Search</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('admin.admin') }}" class="text-white hover:text-blue-200 transition duration-300">Admin</a>
                <a href="{{ url_for('auth.logout') }}" class="text-white hover:text-blue-200 transition duration-300">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="text-white hover:text-blue-200 transition duration-300">Login</a>
            {% endif %}
            <a href="#" class="text-white hover:text-blue-200 transition duration-300">About</a>
        </div>
        <button class="md:hidden text-white focus:outline-none" id="menu-toggle">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
</nav>
<div class="md:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <a href="{{ url_for('main.index') }}" class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-blue-700">Home</a>
        <a href="{{ url_for('rss_manager.get_rss_feeds') }}" class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-blue-700">RSS Feeds</a>
        <a href="{{ url_for('search.search') }}" class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-blue-700">Search</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('admin.admin') }}" class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-blue-700">Admin</a>
            <a href="{{ url_for('auth.logout') }}" class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-blue-700">Logout</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-blue-700">Login</a>
        {% endif %}
        <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-blue-700">About</a>
    </div>
</div>
<script>
    document.getElementById('menu-toggle').addEventListener('click', function() {
        var mobileMenu = document.getElementById('mobile-menu');
        mobileMenu.classList.toggle('hidden');
    });
</script>
