{% extends "base.html" %}

{% block title %}500 - Server Error{% endblock %}

{% block content %}
<div class="error-container">
    <div class="error-code">500</div>
    <div class="error-message">{{ _("Oops! Something went wrong on our end.") }}</div>
    <p>{{ _("We're working on fixing the issue. Please try again later.") }}</p>
    <a href="{{ url_for('parsed_content.parsed_content') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        {{ _('Return to Latest Threat Intelligence') }}
    </a>
</div>
{% endblock %}
