<div class="flex-1 p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-xl font-bold mb-4">Add Single Feed</h2>
    <form id="add-single-feed-form" action="{{ url_for('rss_manager.create_rss_feed') }}" onsubmit="return addFeed(event);">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            {{ form.url.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.url(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            {{ form.category.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.category(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Add Feed
        </button>
    </form>
</div>
