{% extends "base.html" %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">RSS Feed Manager</h1>

    {% include 'rss_manager/existing_feeds.html' %}

    <div class="flex space-x-4 mb-8">
        {% include 'rss_manager/add_single_feed.html' %}
        {% include 'rss_manager/import_feeds.html' %}
    </div>

    {% include 'rss_manager/awesome_threat_intel.html' %}

    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/rss_manager.js') }}"></script>
</div>
{% endblock %}
