{% extends "base.html" %}

{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4">{{ item.title }}</h1>
    
    {% if item.creator %}
    <p class="text-gray-700 mb-2">Author(s): {{ item.creator }}</p>
    {% endif %}
    
    <p class="text-gray-600 mb-2">
        Date Published: 
        {% if item.pub_date %}
            {{ item.pub_date.strftime('%Y-%m-%d %H:%M:%S UTC') if item.pub_date is not string else item.pub_date }}
        {% else %}
            N/A
        {% endif %}
    </p>
    
    {% if item.url %}
    <p class="text-gray-600 mb-4">
        URL: <a href="{{ item.url }}" target="_blank" class="text-blue-500 hover:text-blue-700">{{ item.url }}</a>
    </p>
    {% endif %}
    
    {% if item.categories %}
    <div class="mb-4">
        <h2 class="text-xl font-semibold mb-2">Categories</h2>
        <div class="flex flex-wrap gap-2">
            {% for category in item.categories %}
                <a href="{{ url_for('search.search', query=category.name) }}" class="bg-gray-200 hover:bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 transition duration-300">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    {% if item.description %}
    <div class="mb-6">
        <h2 class="text-xl font-semibold mb-2">Description</h2>
        {% set description = item.description|default('') %}
        {% if description|length > 500 %}
            <p>
                {{ description | truncate(500, True, '') | safe }}...
                <a href="#" class="text-blue-500 hover:text-blue-700" onclick="toggleDescription(event)">Read more</a>
            </p>
            <p class="hidden">{{ description | safe }}</p>
        {% else %}
            <p>{{ description | safe }}</p>
        {% endif %}
    </div>
    {% endif %}
    
    {% if item.summary %}
    <div class="mb-6">
        <h2 class="text-xl font-semibold mb-2">Summary</h2>
        {% set summary = item.summary | from_json %}
        {% if summary %}
            <h3 class="text-lg font-semibold mt-2">Main Topic</h3>
            <p>{{ summary.main_topic|safe }}</p>
            
            <h3 class="text-lg font-semibold mt-2">Key Points</h3>
            <ul class="list-disc pl-5">
                {% for point in summary.key_points %}
                    <li>{{ point|safe }}</li>
                {% endfor %}
            </ul>
            
            {% if summary.threat_actors %}
                <h3 class="text-lg font-semibold mt-2">Threat Actors</h3>
                <ul class="list-disc pl-5">
                    {% for actor in summary.threat_actors %}
                        <li>{{ actor|safe }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if summary.ttps %}
                <h3 class="text-lg font-semibold mt-2">TTPs</h3>
                <ul class="list-disc pl-5">
                    {% for ttp in summary.ttps %}
                        <li>{{ ttp|safe }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if summary.iocs %}
                <h3 class="text-lg font-semibold mt-2">IoCs</h3>
                <ul class="list-disc pl-5">
                    {% for ioc in summary.iocs %}
                        <li>{{ ioc|safe }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if summary.affected_systems %}
                <h3 class="text-lg font-semibold mt-2">Affected Systems</h3>
                <ul class="list-disc pl-5">
                    {% for system in summary.affected_systems %}
                        <li>{{ system|safe }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if summary.mitigations %}
                <h3 class="text-lg font-semibold mt-2">Mitigations</h3>
                <ul class="list-disc pl-5">
                    {% for mitigation in summary.mitigations %}
                        <li>{{ mitigation|safe }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if summary.conclusion %}
                <h3 class="text-lg font-semibold mt-2">Conclusion</h3>
                <p>{{ summary.conclusion|safe }}</p>
            {% endif %}
        {% else %}
            <p>{{ item.summary|safe }}</p>
        {% endif %}
    </div>
    {% endif %}
    
    {% if item.link %}
    <a href="{{ item.link }}" target="_blank" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block">
        View Original Article
    </a>
    {% endif %}
</div>

{% include "components/entity_modal.html" %}

<script>  // Script to replace span tags with links
document.addEventListener('DOMContentLoaded', function() {
    const modal = document.getElementById('entityModal');
    const modalTitle = document.getElementById('modal-title');
    const modalContent = document.getElementById('modal-content');
    const modalCloseButton = document.getElementById('modalCloseButton');
    const modalLinkButton = document.getElementById('modalLinkButton');

    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('tagged-entity')) {
            event.preventDefault();
            const entityType = event.target.dataset.entityType;
            const entityId = event.target.dataset.entityId;
            const entityName = event.target.textContent;

            fetchEntityDetails(entityType, entityId, entityName);
        }
    });

    modalCloseButton.addEventListener('click', function() {
        modal.classList.add('hidden');
    });

    function fetchEntityDetails(entityType, entityId, entityName) {
        const modalLoader = document.getElementById('modalLoader');
        modalLoader.classList.remove('hidden');
        showModal(entityName, '', null); // Show modal with empty content while loading

        fetch(`/api/entity/${entityType}/${entityId}`)
            .then(response => response.json())
            .then(data => {
                let detailPageUrl = null;
                if (entityType === "APT_GROUP") {
                    detailPageUrl = `/apt/group/${entityId}`;
                } else if (entityType === "TOOL") {
                    detailPageUrl = `/apt/tool/${entityId}`;
                }
                showModal(data.name, data.description, detailPageUrl);
            })
            .catch(error => {
                console.error('Error:', error);
                showModal(entityName, "Error fetching entity details.", null);
            })
            .finally(() => {
                modalLoader.classList.add('hidden');
            });
    }

    function showModal(title, content, linkUrl = null) {
        modalTitle.textContent = title;
        modalContent.textContent = content;

        if (linkUrl) {
            modalLinkButton.href = linkUrl;
            modalLinkButton.classList.remove('hidden');
        } else {
            modalLinkButton.classList.add('hidden');
        }

        modal.classList.remove('hidden');
    }
});

function toggleDescription(event) {
    event.preventDefault();
    const shortDesc = event.target.parentNode;
    const fullDesc = shortDesc.nextElementSibling;
    shortDesc.classList.toggle('hidden');
    fullDesc.classList.toggle('hidden');
}
</script>

{% endblock %}
